* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
}

header > h1 {
    color: #020201;
    text-align: center;
    font-size: 33px;
}

body{
    background-color: #a8d7c6;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 69px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #4140408b;
    color: #ffffff; 
    width: 395px;
    height: 100px;
    padding: 10px;
    font-size: 30px; 
    margin-bottom: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand {
    color: #ffffff;
    font-size: 45px;
}


button {
    width: 90px;
    height: 90px;
    font-size: 32px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid #928d8d;
}

button:hover {
    background-color: #c9c3c3;
}

button[data-all-clear], button[data-equals] {
    width: 193px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    font-size: 17px;
}

.footer a {
    margin-right: 10px;
}

.footer p {
    margin-top: 10px;
}
